[2018-02-09 23:02] frankhock opened #4 "add #discard!"
what are your thoughts on adding a bang discard method `discard!` which can throw a `Discard::Model::RecordNotDiscarded` error?

[2018-02-10 00:05] jhawthorn commented on #4
Sounds great!

[2018-02-13 23:56] chbonser opened #5 "add undiscard callbacks"
Does this sound like a reasonable feature?  If so I can submit a PR

[2018-02-19 01:23] #5 closed

[2018-03-01 13:08] hobbypunk90 opened #7 "discarding on nested_attributes"
Hello,

i have a little problem with `accepts_nested_attributes_for`, is there a standard workaround for discarding such "children" instead of destroying them?

Greets
Marcel

[2018-03-02 02:16] jhawthorn commented on #7
Hi Marcel. I haven't run into this yet, but we should find a solution to put in the README.

Records are normally deleted through `accepts_nested_attributes_for` using a `_destroy` key, right? Is it possible to just set `discarded_at` with the current time instead of `_destroy`?

[2018-03-06 01:05] KelseyDH opened #8 "has_many only for undiscarded records?"
Instead of using a `default_scope`, for a model record that has Discard enabled what would be the best way to scope a `has_many` call from an associated model, so that it only returns undiscarded records?

This could be a good example to add to the documentation.

[2018-03-06 01:14] KelseyDH commented on #8
Follow up:  It seems I could achieve this with:

[code]

Where Goal is the model with Discard.  However, this could create data inconsistency if the user deleted themselves and we actually needed to delete all the associated goals?

That said, I'm tempted to think just adding a `default_scope` on goal may be safer?   A lot of models could be polluted constantly needing to add this to each associat

[2018-03-06 01:14] #8 closed

[2018-03-06 09:42] rlue commented on #4
I'm curious: under what conditions might you expect `#discard` to fail (other than, say, running out of database connections or some kind of network failure between app/DB servers)?

[2018-03-06 13:53] bjorne opened #10 "Discarding relations does not work like described in README"
I'm trying to implement the `after_discard` callback to discard related objects.

The README says that a post's comments can be discarded like so;

[code]

However, this is what I'm seeing

[code]

I'm guessing that the `discard_all` class method added by this library is not understood by `CollectionProxy`. I'm running ActiveRecord 5.1.4, has anything changed recently?

The immediate workaround I'

[2018-03-07 14:44] hobbypunk90 commented on #7
hi,
yes, records are destroyed with a `_destroy` key.
That's my problem, there are a few ways to set the `discarded_at`, we can walk through the params on server side and check the the `_destroy` key, but thats not nice, for nested `accepts_nested_attributes_for`
the simplest/possible best way looks like to set it on client side i think.

[2018-03-07 15:38] hobbypunk90 commented on #7
i have a working solution now:
for the client side i have this:
[code]
and in my views a have to add a hidden field for `discarded_at`
[code]

[2018-03-12 04:40] rlue opened #11 "Warden/Devise: Preventing login for discarded users?"
Has anyone else worked on how to prevent discarded users from logging in? I'm on a Rails app with Devise, so of course a naive solution would be to override the default controller behavior — but since I imagine this is not an uncommon scenario, I'm curious to know if anyone's worked out a more portable solution.

`Devise::SessionsController#create` calls `warden.authenticate!` ([source](https://gi

[2018-03-16 15:08] jhawthorn commented on #11
#9 has added instructions for devise :tada:

(If this doesn't address your issue, please file another :heart: )

[2018-03-16 15:08] #11 closed

[2018-03-20 02:24] goravbhootra commented on #4
@rlue calling `discard` on a non-existent id. bang method definitely has its use cases.

[2018-03-21 12:26] mattrw89 commented on #10
Thanks for posting this @bjorne. I just hit this issue also.

`#<NoMethodError: undefined method `discard_all' for #<Attachment::ActiveRecord_Associations_CollectionProxy:0x007fb462b39d18>>`

In model.rb you are defining discard_all/undiscard_all methods:

`module ClassMethods
      def discard_all
        all.each(&:discard)
      end
      def undiscard_all
        all.each(&:undiscard)
      en

[2018-03-21 12:44] mattrw89 commented on #10
Update... I just realized that I forgot to add `include Discard::Model` to the relations, which would explain why those relations don't have methods! All seems to work well for me now.

[2018-03-28 14:02] #7 closed

[2018-03-28 17:39] artemf commented on #4
@rlue Actually, even simple validation error can break the deletion, which is odd to say the least. I've looked at the code and it does simple `#save` to "soft-delete" the record, meaning a) validation error can break soft-deletion, b) any update callbacks can break (stop) soft-deletion, c) else?

The author seem to have a very particular idea about how to implement soft-deletion (which he calls "

[2018-03-29 01:43] rlue commented on #4
@artemf that's an interesting point. What do you think the correct behavior should be? Bypass validation on discard (_e.g.,_ via `#update_columns`) and validate on restore?

[2018-04-05 17:53] skatkov commented on #4
@artemf  I've been looking at paranoia gem before and wrote my own implementation that is very similar to discard approach. I never had a real world scenario, then I had to update data and discard a record at the same time (so i never ran into issue your mentioning).

While I agree with you notion. Have you experienced issues with behavior you mention here?

[2018-04-09 09:17] skatkov opened #14 "#discard_all doing batch updates ?"
Having these two models

[code]

Calling `@product.discard` will trigger N+1 update query. Example:
<img width="676" alt="screen shot 2018-04-09 at 16 12 19" src="https://user-images.githubusercontent.com/544377/38489589-0df50674-3c11-11e8-8b96-d162fa24c6f6.png">

While it 'kinda works' -- best practice in this case would be to do batch update. I understand that batch updates are pain in the ass i

[2018-04-10 04:03] jhawthorn commented on #10
@bjorne I'm assuming you're in the same boat as @mattrw89, and closing this issue. I've added a spec in abf3715e1052703a48948a747a681add0adc13b4 to ensure this works. If it doesn't please file a new issue :heart:.

It seems like forgetting to include `Discard::Model` will be a common enough mistake, which makes sense, nothing explicitly states this.

I've added a little hint in the README a169f0f5

[2018-04-10 04:03] #10 closed

[2018-04-18 15:05] #14 closed

[2018-05-17 14:28] vishthemenon opened #18 "Adding an config parameter to skip update/save hooks/validations"
Picking up the issue brought up by @artemf from #4.

Although for most applications, running update hooks with the discard method should not have any catastrophic, unexpected side-effect, I think it is better to have the ability to choose here. Especially since it is not intuitive to expect 'update' hooks to be run for a method that more similar to 'destroy'. One possible solution is to use `updat

[2018-05-17 22:01] #4 closed

[2018-05-17 23:32] jhawthorn commented on #18
Thanks for the writeup, but I don't want this. Sorry.

A discard _is_ an update. One of the goals of discard is to make this more obvious.

[2018-05-17 23:32] #18 closed

[2018-05-18 12:13] aried3r opened #20 "Documentation for un/discard is not completely correct"
https://github.com/jhawthorn/discard/blob/cb3c885849ce494b426a1e99d2049eaba8145f16/lib/discard/model.rb#L71-L75

I think either these should return `false` if it's already discarded or the documentation should read "true if successful or a falsey value". Since the guard clause will make it return `nil`.

I can submit a PR if you want. Just let me know which option you like better. :)

[2018-05-18 12:26] aried3r opened #21 "Discarding on nested attributes doesn't trigger callbacks"
Hey!

I read https://github.com/jhawthorn/discard/issues/7#issuecomment-369797910 which is the solution to this particular issue. But one thing that isn't mentioned is that this will not trigger `after_discarded` callbacks, if any.

I think paper_trail solved this by checking on `after_update` if any of the tracked attributes were changed, and if so, create a version, run callbacks etc.

Maybe thi

[2018-05-20 20:56] rainerborene opened #22 "Add section on README about integration with counter_culture gem"
[`counter_culture`](https://github.com/magnusvk/counter_culture/) automatically sets callbacks for `paranoia` events which are quite similar to `discard`. See [this piece](https://github.com/magnusvk/counter_culture/blob/3070845a4af6a3076c66f488f3af7d7feba0c762/lib/counter_culture/extensions.rb#L22-L33) of code for reference. And here's what I'm currently doing:

[code]

I think it's worth adding

[2018-05-21 02:08] skatkov commented on #22
Suggesting usage of default_scope doesn't sound like a good advice for a readme.

[2018-05-22 11:36] stanley90 opened #23 "Mongoid support"
I'm trying to use this gem with https://github.com/mongodb/mongoid and a few small changes are needed:

* changing the `activerecord` dependency to `activesupport` (there doesn't seem to be any ActiveRecord dependency anyway)
* add Mongoid field `field discard_column, type: Time` in the `included` block of `Discard::Model` - needs to be done in a way that it doesn't break the ActiveRecord version

[2018-05-25 17:55] jhawthorn commented on #23
Thanks for the issue!

I'd prefer this.

I'd like to keep discard really small, and not have it grow much bigger than it is now. (It really doesn't do much, it's more a set of conventions than a real tool).

I'm open to making changes which make a mongoid integration easier so long as they don't add much complexity. (If much complexity is required, it would probably be best for users of both AR an

[2018-05-25 18:27] jhawthorn commented on #22
Thanks. I'm sure this is helpful information for users, but I want to discourage use of `default_scope` as much as possible. I worry having more of the README dedicated to it will have more users use it.

Maybe this would fit well in the wiki and the README could link to it?

[2018-05-29 13:33] Onumis commented on #20
just `return true if discarded?` imo, or:

[code]

[2018-05-30 11:32] aried3r commented on #20
I kinda like the guard clause better, even though I also like having only a single return statement. But `bool OR &block` over 4 lines looks a bit weird to me.

I'll submit a PR soon!

[2018-05-31 21:55] reidab commented on #22
Rather than go down the default_scope path, I tossed together a PR to add Discard support to counter_culture: https://github.com/magnusvk/counter_culture/pull/220

If that gets merged, this issue may be moot.

[2018-06-13 11:58] kennyadsl opened #26 "Replacing associations support"
Hey @jhawthorn !

We've an [issue on Solidus](https://github.com/solidusio/solidus/issues/2744) that made me notice that when an association collection is replaced with `=` ([CollectionProxy#replace](https://apidock.com/rails/ActiveRecord/Associations/CollectionProxy/replace)) record discarding is not performed.

I have a failing test in my discard fork with this commit: https://github.com/kennyad

[2018-06-13 20:35] rainerborene commented on #22
now that this feature was merged on `counter_culture` we can close this issue. thanks @reidab

[2018-06-13 20:35] #22 closed

[2018-06-28 00:24] celsoMartins opened #27 "Bang in the methods discard and undiscard"
Hey. Congratulations for the great job. I've started to use it today and seems to be a useful tool.

But the methods "discard" and "undiscard", following the rails patterns, should not have a bang, since it changes the database?

discard!
undiscard!

[2018-06-29 22:16] jhawthorn commented on #27
Methods don't need to have a bang to change the database (`model.save` exists), but they do to raise an error on failing (like `model.save!`).

We've just added `discard!` and `undiscard!` in #17 :tada:, but there hasn't been a release yet with that change.

Hope that helps!

[2018-06-29 22:16] #27 closed

[2018-07-31 23:50] SalmaNegm opened #30 "discard method is not working inside transactions"
discard method is not working inside transactions

[code]

[2018-07-31 23:57] SalmaNegm commented on #30
Sorry, It's an error in my code

[2018-07-31 23:57] #30 closed

[2018-08-15 14:42] lucabob commented on #27
@jhawthorn Any chance you could do a release, so that these methods are included?

[2018-09-04 04:52] robotdana opened #31 "declarative discard parents"
rather than
[code]

would you consider a PR that adds a mechanism to define discard parents that modifies the various scopes
[code]
or
[code]
or something

[2018-09-30 15:36] blocknotes commented on #26
Hi @kennyadsl.
IMO this case should be handled in the app, not in the *discard* gem, because it does not override AR *delete* / *destroy* methods.

An option can be:
`has_many :posts, after_remove: ->(author, post) { post.discard }`

Test updated here:
https://github.com/blocknotes/discard/commit/409b1ee94feae7a06961ccadab05aceb6196b200

[2018-10-20 13:51] slaith opened #35 "Discarding should skip validations (maybe)"
A lot of times, validations to the model are added in retrospect. The usual action thereafter would be to discard the instances that are not validated. This doesn't work as expected since the lack of validation would prevent the instance from being shelved.
Undiscard should ideally not work when validations fail, but I am not sure discard should follow the validations rule.

[2018-10-26 18:47] Sudrien commented on #35
Ran into this - as there are, on occasion, reasons to save without validation, there would be reasons to discard as well, even with out the old data scenario.

Perhaps a `discard(:validate => false)`

which would use `update_column` instead of  `update_attribute`?

[2018-10-29 13:19] jamesst20 commented on #35
I agree on this. In our application we have a scenario where some fields must be filled by a candidate which receive an invitation link to fill the form.

In this case, validations fail because the candidate hasn't filled the form yet and we can't discard the model.

[2018-10-29 13:52] jamesst20 commented on #35
Validations are already skipped since this change https://github.com/jhawthorn/discard/commit/dfdd984b37bf3d646b276d68e47f7f998c6aaad9#diff-0a62a055b1aeb5c4b72b9318cebd32f2

It seems like the gem release is outdated.
Easy workaround, use this instead inside Gemfile

gem "discard", git: "https://github.com/jhawthorn/discard.git"

[2018-10-29 23:11] jonkarna commented on #35
Is there a reason why there isn't a new gem version?

[2018-10-30 15:59] jonkarna opened #36 "Need new version of gem"
Notable: master doesn't run validations

https://github.com/jhawthorn/discard/compare/v1.0.0...master

[2018-11-15 18:15] JamesDullaghan opened #37 "Uniqueness validation triggered for records that have been discarded"
After a record has been discarded with a uniqueness validation, it seems the uniqueness validation is not ignored for subsequent records.

Is there any way around this?

[2018-11-23 15:55] NoMemoryError opened #38 "N+1 queries"
What is the best way to tackle `n+1` queries with discard gem?

Adding a `default_scope` might be an option but since the documentation says that it is undesirable to use it, I was wondering if there is a better way to tackle this problem?

[2018-11-25 15:06] kashifnaseer opened #39 "Unable to login with Active User having a discarded record"
Following flow is not allowing User to login, any idea, how i can resolve it

     Create a New User with email like aaa@domain.com
     User login works fine
     Discard this aaa@domain.com user
     Create an other user with aaa@domain.com
     Confirm this user, confirmation works fine
     now logout - login again with aaa@domain.com, It will Not work.

Here is User.rb code

     class User <

[2018-11-26 07:29] kashifnaseer commented on #39
I fixed it by overriding devise method in user model

    def self.find_for_authentication(conditions)
      find_first_by_auth_conditions(conditions, discarded_at: nil)
    end

[2018-11-26 07:29] #39 closed

[2018-11-26 16:50] toobulkeh opened #40 "This gem doesn't do much"
Moving from paranoia, I find this gem difficult to swallow. All it appears to do is provide a naming convention around a discarded_at timestamp and a few small helpers.

The readme doesn't even mention that you have to replace a lot of references throughout your app to get the "soft delete" type behavior you'd expect (migrating from Paranoia or ActsAsParanoid).

For example, even a simple `Post.fi

[2018-11-29 15:06] rsmithlal commented on #37
It's possible that you would have to rework your uniqueness validator to capture information about the `discarded_at` column. I know that when defining one, you can pass a `scope` option, so that might be helpful.

The only issue might be that the value for the `discarded_at` column will almost always be a unique datetime, so you might have to add a boolean `discarded` column to your tables to use

[2018-11-29 15:21] rsmithlal commented on #36
Can you clarify what you mean? Do you mean that models using this gem do not run their own validations when the module is included in the class?

[2018-11-29 15:30] jonkarna commented on #36
Good:
Master doesn't run validations when executing discard

Bad:
Current gem version is behind master and runs validations when executing discard. (e.g. thing.discard # => false because this record isn't valid)

[2018-11-29 15:50] rsmithlal commented on #36
Ah I see, thanks! Considering using the gem for my project so this is useful info.

[2018-11-29 16:01] jonkarna commented on #36
I would suggest working off of master. Another thing to look out for is that this doesn't come with all the bells and whistles other gems do (not a bad thing), so be on a lookout for those possibilities.

[2018-12-13 01:01] yasyf commented on #36
Any chance we can get a gem release soon? Thanks!

[2019-01-11 16:16] ivanbrennan opened #42 "has_many: use soft-delete when clearing associated collection"
Given a `has_many` association:
[code]
where the `littles` table has a `discarded_at` column, I'd like the following to discard the little records rather than nulling out their `big_id` or deleting them:
[code]

Is there a way to achieve this currently? So far I haven't found one.

[2019-01-16 16:59] lostie opened #43 "Discard record on has_many through"
If you have the following relations:

[code]

How would `discard` be configured? Would all the table have a `discarded_at` column? And how are we expected to discard a `part` for a given `vehicle`, not the part itself?

Without any soft delete tool, I would be doing something like this:

[code]

[2019-01-16 17:22] lostie commented on #43
Also, along the same lines, how can I get a list of kept vehicles including only kept parts?

[code]

[2019-01-19 09:55] bo-oz commented on #43
You can call the scope on parts later in your script, so suppose you want all kept parts:

`Vehicle.includes(:parts).kept.parts.kept` gives you all the kepts parts

[2019-01-19 11:29] bo-oz opened #44 "Will this work when saving related models?"
I'm considering this gem for a project, but have some hard time understanding how it would impact a set-up in which I'm using accept_nested_attributes for on a model. Could I overwrite the default behavior of that to use discard insstead of destroy when updating the join table?

[2019-01-19 13:31] bo-oz commented on #44
It seems that you have to write a callback that throws abort on the destroy and call discard instead. Could be nice if this was part of the gem. Happy to create a PR for this, but I don't know how to make it in a way that it's optional. Any ideas?

[code]

[2019-01-21 18:08] pjg commented on #40
I don't think you're missing anything. That's the whole idea of this gem. You want the swiss knife, go with paranoia :)

[2019-01-22 12:51] skatkov commented on #40
Probably this simplicity is the biggest feature in my book.
- It provides convenient API that I can re-use.
- It seems that there is not much to maintain here... Major rails bump would not be an issue for this gem.

This paragraph should hint why `Post.find` is not in a scope of this gem.
https://github.com/jhawthorn/discard#why-not-paranoia-or-acts_as_paranoid

[2019-01-22 14:16] #40 closed

[2019-02-20 22:37] j1mmie opened #46 "Forcing explicit scope: kept, discarded, or with_discarded. Never all"
I have a feature request, and proof of concept for it. Looking for some feedback:

I'm using `Discard::Model` in a model of mine, let's call it Comment. I would like to force other consumers of my Comment model to *make an explicit choice* of what Comments they want to access. `kept`, `discarded`, or `with_discarded`.

I'd like a mode where I can enforce this behavior:
[code]

Why? Because I belie

[2019-02-22 12:24] bragovo opened #47 "Not working with counter_cache"
https://guides.rubyonrails.org/association_basics.html#options-for-belongs-to-counter-cache

Everything fine while adding or reset but on discard nothing happening. Is it possible to recalc counter on discard automatically?

[2019-03-11 22:25] yagudaev opened #48 "Integration with Discard gem for soft-deletes"
It would be great to provide an integration to the `discard` gem for  soft deletes.

I saw related issues like #43 #42. Adding some good documentation (we need a docs folder like AA has) would really help.

What I've done was add it like this:

[code]
What I'd like to do is:

1) Avoid copying destroy/index methods directly from gem source
2) Avoid using default scopes
3) Hook into collection and i

[2019-03-11 22:32] yagudaev commented on #48
oops wrong repo. Closing

[2019-03-11 22:32] #48 closed

[2019-03-14 01:15] #23 closed

[2019-03-14 11:52] tmock12 commented on #37
For the reasons @rsmithlal mentioned, using `scope` is probably a bad idea. Thankfully `validates_uniqueness_of` comes [with a conditions option](https://apidock.com/rails/ActiveRecord/Validations/ClassMethods/validates_uniqueness_of). Using that I **think** you can achieve what you want with something like:

[code]

This should only check uniqueness of emails on non 'deleted' (AKA discarded) reco

[2019-03-15 23:25] pboling commented on #37
@JamesDullaghan You can add an index to support the validation if you are using a nice database (PostgreSQL, MySQL...).

It would prevent undiscarding records though if there has been a conflicting record created, as @rsmithlal mentioned.

To insulate yourself from the potential craziness, you may want to have two unique indexes, ensuring you only ever have one discarded and one not discarded.  It

[2019-04-15 16:54] emmanuelperotto commented on #44
The gem could support it. I'm having problems trying to soft delete a resource through parent with nested attributes and I don't think that changing the behaviour of destroy is a good solution.

[2019-04-15 16:57] bo-oz commented on #44
I agree, ran into issues further down the road. It’s a big miss though that nested models aren’t supported. I think the popular alternatives do... but I prefer the straightforwardness of this implementation.

[2019-04-15 17:04] emmanuelperotto commented on #44
I solved this changing the destroy method (it's against the gem purpose but there's no support for soft deleting through nested attributes)...

`class ApplicationRecord < ActiveRecord::Base
  self.abstract_class = true

  # Instance/Class Methods
  def destroy
    respond_to?(:discarded_at) ? discard : super
  end
end`

[2019-05-08 11:01] kennyadsl opened #51 "discarded? value on validations and callbacks"
I'm trying to understand an issue we have on Solidus: https://github.com/solidusio/solidus/pull/3202.

These are two specs that describe the behavior we had with discard 1.0.0:

[code]

and in 1.1.0 the validation callback spec fails with:

[code]

so the validations are no more called if you use `if: :discarded?`, differently from the previous version.

I think version `1.1.0` is more consistent

[2019-05-09 05:17] jarednorman commented on #51
I _think_ this is an enhancement, but one that should have been considered a breaking change and warranted a major version bump. I'm leaning towards keeping this behaviour, possibly testing it, and regretting that I didn't realize that this change broke things.

I'll also leave this issue open so that I can either document and potential test this behaviour to avoid regressions or changes to it.

[2019-05-29 08:05] kashifnaseer opened #52 "How forget password token should be linked with non-discarded record"
There are 2 users present with same email **(same@email.com)** in users table. First one is discarded while other is Active(Not Discarded). Now when User sends forget password link, it sets **reset_password_token** to discarded User. as a result of this, User cant set his password

**any idea how to tell devise password controller to attach reset_password_token to Active recored rather discard** ?

[2019-06-03 08:29] gblair commented on #46
I think I like this design, for my 2 cents. @j1mmie, how did this end up panning out for you?

[2019-06-11 12:16] hobbypunk90 commented on #23
i know this issue is closed for a while, but today i ran in this problem 😁 (i had discard in gem list and it loads active record and i searched a while why activerecord is laoded - it maked me crazy 😁)
i forked and changed the gem. The changes are about 6 lines, only one scope didn't work with mongoid.

if it's ok for @jhawthorn i would like to create a merge request for the changes.

[2019-06-25 18:25] caseyprovost opened #54 "Support for discarded_by?"
It would be amazing to have support for a `discarded_by` association on the models. Does it make sense to add this to the project?

[2019-06-25 21:17] caseyprovost commented on #54
PS I would be happy to open a PR that achieved this if the maintainers feel it is a good addition :)

[2019-07-12 10:02] shawnkoh opened #57 "Unable to declare scope :kept as per the readme.md"
The readme recommends overriding scope :kept for dependent relationships.

```scope :kept, -> { undiscarded.joins(:post).merge(Post.kept) }```

This results in
```ArgumentError: You tried to define a scope named "kept" on the model "Comment", but Active Record already defined a class method with the same name.```

[2019-09-12 06:41] kowal commented on #42
@ivanbrennan I think now you can do `big.littles.discard_all`, which is way more explicit what is going on. Also, I think that sometimes you would actually want to just null out associations rather than discarding them.

[2019-09-17 14:31] kowal commented on #42
@ivanbrennan @jarednorman
OK, It's not so simple. From what I checked, having `has_many` association without any options does not destroy/delete associated records when calling `big.littles = []`. But this indeed happens when I specify `dependent: :destroy` option.

So, since `big.littles = []` does not have single semantic and it depends on association config, maybe it is better not to override i

[2019-09-17 16:35] jarednorman commented on #42
Thanks for your clarification @kowal.

@ivanbrennan If you're looking for a gem that does soft deletion by overriding ActiveRecord behaviour, you might like [paranoia](https://github.com/rubysherpas/paranoia).

I may make this more clear in the project's README or issue/pr templates, but discard does not and will not ever override the behaviour of ActiveRecord methods. That's the main thing that d

[2019-09-17 17:34] ivanbrennan commented on #42
@kowal @jarednorman Thank you both for the clarifications. Indeed, in my actual use-case I was using `dependent: :destroy`. (I should have included that in my example, apologies.)

[2019-10-23 07:45] kashifnaseer opened #64 "discard has_and_belongs_to_many association"
What is the best way to soft delete **has_and_belongs_to_many** associations as there is no rails model exists for has_and_belongs_to_many association?

lets say there are 2 models

      class Participant < ApplicationRecord
        has_and_belongs_to_many :company_employees
       end

      class CompanyEmployee < ApplicationRecord
        has_and_belongs_to_many :participants
      end

any id

[2019-10-23 17:33] jarednorman commented on #64
`has_and_belongs_to_many` is generally inflexible and I don't know of a way to accomplish this. Because of the limitations of habtm associations, it's often prudent to default to creating the join model and using a "has_many through" associations to avoid problems like this.

[2019-10-23 17:33] #64 closed

[2019-10-23 20:30] jarednorman commented on #46
This is a great idea and would be really helpful for projects migrating from paranoia. I'd love if this could be provided as a separate gem that adds this functionality, as we want to keep discard's core as minimal as possible.

@j1mmie Can you publish a proof of concept that I can take a look at?

[2019-10-23 20:42] jarednorman commented on #26
Hey @kennyadsl, I believe this was recently discussed on #42. If I understand correctly, fixing your failing test would require overriding default ActiveRecord behaviour. Part of the goal of discard is to avoid ever overriding any ActiveRecord behaviour, so users of the gem are expected to manually call `discard_all` in advance if they want to do this.

[2019-10-23 20:42] #26 closed

[2019-10-23 20:44] jarednorman commented on #46
I am closing this issue because it's a feature request that I don't believe belongs in `discard` itself, but I may author a separate extension that does this unless someone provides a solution to accomplish it.

[2019-10-23 20:44] #46 closed

[2019-10-23 20:48] jarednorman commented on #43
@lostie If you want to discard the part for the vehicle without discarding the part itself, you'd include `Discard::Model` in the `VehiclePart` model. To fetch the parts for a vehicle you would do `some_vehicle.parts.kept`. To discard a part of a vehicle you would call `.discard` on the specific `VehiclePart`.

[2019-10-23 20:48] #43 closed

[2019-10-23 20:51] jarednorman commented on #38
You might consider the options presented [here](https://stackoverflow.com/questions/26159533/rails-includes-with-scope).

[2019-10-23 20:51] #38 closed

[2019-10-23 20:52] jarednorman commented on #35
Stale issue, we've cut some releases since then. 🤘🏻

[2019-10-23 20:52] #35 closed

[2019-10-23 20:53] #36 closed

[2019-10-23 20:55] jarednorman commented on #37
I think Rails uniqueness validations should be skipped now, and as outlines above, the trick is to use a composite index that includes the `discarded_at` timestamp.

[2019-10-23 20:55] #37 closed

[2019-10-23 20:57] jarednorman commented on #44
What you're describing is what `paranoia` does. It overrides ActiveRecord methods to factor in soft deletion.

[2019-10-23 20:57] #44 closed

[2019-10-23 21:01] jarednorman commented on #21
Because this issue is more than a year old, I'm going to close it. It sounds like there might be a real issue worth investigating, though. If you could provide a spec that demonstrates the issue, I'm happy to look into it.

[2019-10-23 21:01] #21 closed

[2019-10-23 22:00] j1mmie commented on #46
Thanks for your approval @jarednorman - Unfortunately I lost my progress on this extension. But maybe if there's more conversation + demand here someone would be willing to pick up the effort.

[2019-10-24 15:30] jarednorman commented on #57
Thanks for this bug report. I think this is a bug in ActiveRecord, as I don't _think_ ActiveRecord is actually defining a `kept` scope, but I'll have to look into that.

[2019-10-24 16:23] jarednorman commented on #46
Too bad, but that's okay. We need some functionality like this for the Solidus project (which discard was originally written for) so I'm sure someone will pick up the helm.

[2019-10-24 17:17] jarednorman commented on #57
We're unable to reproduce this. If you could provide a failing test case or other reproduction, I'm happy to look into this.

Did you perhaps include `Discard::Model` in `ActiveRecord::Base`? I imagine that could cause this error.

[2019-10-24 17:17] #57 closed

[2019-10-24 17:18] jarednorman commented on #31
I don't think this is something we want to include in the core of Discard, but it's a good candidate for a separate gem that extends the Discard functionality.

[2019-10-24 17:18] #31 closed

[2019-10-24 17:34] #20 closed

[2019-10-25 18:38] pelargir opened #67 "Discard callbacks don't work with observers"
**Describe the bug**
Calling `#discard` on an ActiveRecord object does not trigger any `before_discard` or `after_discard` callbacks defined in Rails observers.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the `rails-observers` gem
2. Create an observer class for your ActiveRecord object
3. Define a `before_discard` or `after_discard` callback in the observer
4. Discard your Activ

[2019-10-27 15:09] jarednorman commented on #67
Hey, thanks for opening this issue. I took a quick look at the `rails-observers` gem, and if I understand it correctly, it looks the change required for these gems to work together needs to modify/monkey-patch the Active Record observer to hook into the callbacks discard provides. I don't imagine that will require much code at all.

That said, I consider support for `rails-observers` to be a featu

[2019-10-27 15:09] #67 closed

[2019-10-28 19:05] pelargir commented on #67
@jarednorman yes, it's fairly straightforward. Here's what I came up with: https://github.com/pelargir/discard-rails-observers
https://rubygems.org/gems/discard-rails-observers

[2019-10-28 20:11] jarednorman commented on #67
Very cool, thanks for putting that together. I'm sure others will find it useful. I'll add a link to your gem in the README.

[2020-01-08 10:55] porterbayne opened #68 "NoMethodError (undefined method `undiscarded?' ..."
**Describe the bug**
When using the readme's proposed code for handling associations, I get this error when calling `.kept` on a record:
[code]

Happens on both Discard 1.0 or 1.1.

(I am 99% sure this is some oversight on my part, but can't find it.)

**To Reproduce**
- I have an Encounter model and an Appointment model.
- Both have `include Discard::Model` as the first line in the model class co

[2020-01-09 03:44] jarednorman commented on #68
Hey! Any chance you could provide the full stack trace for this error (at least enough of it that I can see the call to `.kept` that's causing this? It would give me a much better idea of the sequence of events that cause this.

[2020-01-09 04:36] jarednorman commented on #68
Oh, just realized what it was. The `undiscarded?` method is on `master` but hasn't been released yet, so the rest of your code should work, but that predicate method doesn't exist. I'll have to cut a v1.2 here soon.

[2020-01-09 04:36] #68 closed

[2020-01-09 23:34] porterbayne commented on #68
Thanks a ton for taking time to respond and explain!

[2020-01-17 16:00] cedum commented on #46
👋 I started experimenting with showing a warning when the query condition is missing in this repo: https://github.com/cedum/explicit_query_condition

Actually, it doesn't support all cases: I couldn't find a way to check the `join` conditions easily to be able to show the warning when the explicit condition requirement on the joined table isn't present.

Let me know what you think and/or have any

[2020-02-17 12:32] Mahinour-elsheikh opened #71 "is discard_all! working on version 1.1.0"
**Describe the bug**
When i used the discard_all! on relation   i got the following exception

**To Reproduce**
Model:

[code]

the relation that reproduced the bug:
`ConversationMessage.where(conversation_id: params[:id]).discard_all!
`
**Expected behavior**
to work normally

[2020-02-17 20:59] jarednorman commented on #71
That feature is [unreleased](https://github.com/jhawthorn/discard/blob/master/CHANGELOG.md#unreleased) and will be in the next release.

[2020-02-17 20:59] #71 closed

[2020-02-17 21:06] jarednorman commented on #71
I just cut version v1.2.0 which now supports it!

[2020-02-17 21:06] jarednorman commented on #68
v1.2 is out now!

[2020-03-05 09:14] quorak opened #73 "after_discard_commit"
Do you think a after_discard_commit makes sense, which is triggered just as after_destroy_commit ?
Reason is, that we have some queue triggers that should only be fired when the transactin was comitted not on rollbacks.

thx

[2020-03-12 19:20] skatkov opened #75 "All new records are discarded use-case"
I know that gem is feature-complete, but there is one possible use-case in the gem that I ran into -- and wanted to bring it up.

I had a need to have all new recorders created discarded. It's really easy to do actually:

[code]

But I didn't find any way to actually overwrite this default.

[code]

all these methods lead to the object being discarded in the end. It feels like there is some other

[2020-03-12 20:17] skatkov commented on #75
So far, this is a solution I've landed with:
[code]

[2020-03-12 20:29] jarednorman commented on #75
The issue in behaviour you encountered is ActiveRecord behaviour and has nothing specifically to do with discard, so I'm closing this issue. That said, your solution is probably fine. Consider using `persisted?` rather than checking the ID, I assume that's semantically what you are going for there.

[2020-03-12 20:29] #75 closed

[2020-08-13 14:16] njcameron commented on #7
This worked for me. Don't forget to add discarded_at to your strong params.

[2020-12-09 22:52] jeffblake opened #77 "Run callbacks inside of the same transaction"
**Describe the bug**

Currently the callbacks such as after_discard are run outside of the discarded model's transaction. This can lead to unexpected behavior where, for example, the model is discarded but its' associations discarded in the `after_discard` callback are not.

[2020-12-09 23:16] jarednorman commented on #77
Perhaps I don't understand the context where you're seeing this behaviour. There's not normally a transaction involved, but if you wrap that in a transaction they'll happen inside the transaction as expected, unless I'm missing something.

Mind providing a clearer example to demonstrate the behaviour you think should be changed?

[2020-12-13 22:06] jeffblake commented on #77
Here's a test case that should pass. So if any errors are raised in the callbacks, database transaction should be rolled back so that nothing is discarded.

[code]

[2020-12-16 01:32] jarednorman commented on #77
Thank you! I understand now. I wasn't thinking about the implicit transaction when you have callbacks.

I will have to look at how complex that behaviour would be to add (and how ActiveRecord handles it) to consider whether it makes sense for this gem. This gem is considered feature complete, but at the same time keeping the functionality in line with the existing Rails behaviour does make sense.

[2021-06-27 11:36] joaodiogocosta commented on #73
I also had this question, but then I went in and saw that `after_discard` and `after_undiscard` are ActiveModel callbacks around calls to `update_attribute`:

https://github.com/jhawthorn/discard/blob/f391785f5d9898d6ce67cee0b9929051e1b5bb44/lib/discard/model.rb#L120-L122

So they will be effectively triggered after the transaction is committed, and, in fact, after all `commit` callbacks.

[2021-12-16 00:43] leehericks opened #79 "Rails 7 is here, why not drop the upper version dependency?"
`spec.add_dependency "activerecord", ">= 4.2", "< 8"`
Is there a reason why you add an upper limit?
Gem update coming soon?

[2021-12-16 01:51] jarednorman commented on #79
To confirm that it works before saying we support it.

[2021-12-16 01:51] #79 closed

[2021-12-16 03:07] dwightwatson opened #80 "Support for Rails 7.0.0"
**Describe the bug**
Rails 7 has recently shipped and it looks like `discard` cannot be installed currently alongside it.

[code]

**To Reproduce**
Create a new rails 7.x app, add `discard` to the `Gemfile` and attempt to bundle.

You'll get the same error as above, where `discard` won't install alongside `activerecord` 7.

**Expected behavior**
The gem should be installable and work as intended o

[2021-12-16 04:41] jarednorman commented on #80
Not sure why you mention activejob-uniqueness.

Master supports Rails 7 if you need it urgently. I will cut a new gem when I get the chance.

[2021-12-16 18:54] jarednorman commented on #80
I've cut v1.2.1 with support for ActiveRecord 7.

[2021-12-16 18:54] #80 closed

[2021-12-29 23:08] mdavidn commented on #77
Rails implements this behavior in a concern, [`ActiveRecord::Transactions`](https://github.com/rails/rails/blob/main/activerecord/lib/active_record/transactions.rb). It overrides each of the standard writers (`#save`, `#destroy`, etc) and wraps each in a transaction.

[2022-02-07 11:24] tak9-n commented on #77
How about you execute `after_discard`'s callbacks on `after_save` when you detect changing `discarded_at` column?
I resolved the issue in my project in this way as a monkey patch.
By the way, I agree with jeffblake's

 I think the issue mislead this gem's user. Because, the active record's callbacks are in transaction except of `after_commit`. The users will think `after_discard` and `before_disca

[2022-03-14 10:09] eikes opened #83 "Add the ability to use `dependent: :discard` in associations"
Adds 'dependent: :discard' as an option which allows
1) destroying the main model but discarding the associated models
2) assign an array to the association and discard the previously assigned models

Example:

[code]

I currently have a `config/initializers/discard.rb` file which patches the associations to allow the `dependent: :discard` configuration:

[code]

[2022-07-20 22:06] lucydoja opened #87 "Nil when finding has_one association"
**Describe the bug**
Hey there! I was implementing your `after_undiscard do` when I came up with an unexpected error/bug. I have a has_one association with a model called Address. I used `address.discard` on the `after_discard` which worked perfectly. However, when I tried the same for the undiscard the address is returning as nil (it does not find the address even if it is in the discarded list).

[2022-07-20 22:14] jhawthorn commented on #87
If it's a `has_one` you can't apply scopes like that. You'll have to unscope the association or do something similar... One of the reasons the default scope is undesirable 😅

This is not an issue with the library.

[2022-07-20 22:14] #87 closed

[2022-07-20 22:20] lucydoja commented on #87
Ok, I get it! I ended up using `Address&.with_discarded&.discarded&.where(employee_id: id)&.undiscard_all` and it is working perfectly for me (just in case someone needs an answer. Thank you!

[2022-08-11 03:57] jeffreycastro commented on #37
shouldn't there be a `unique: true` on the second index?

[2022-08-23 09:25] laptopmutia opened #88 "how is the integration with papertrail?"
hello all I want to use it with [papertrail](https://github.com/paper-trail-gem/paper_trail) so that I could track who delete this certain model and when

did it just works? anyone have done this before?

[2022-08-23 16:40] jarednorman commented on #88
It works fine with Papertrail as it just updates the attributes as normal.

[2022-08-23 16:40] #88 closed

[2022-08-31 13:01] gsdean opened #89 "dependent: :discard"
Would be nice to be able to use `dependent: :discard` on associations

For example
`has_one :referral_code, ->{ kept }, dependent: :discard `

[2022-08-31 15:05] jarednorman commented on #89
As far as I understand it, that would require overriding some part of ActiveRecord, making this a non-starter for the project. If I am mistaken, please suggest an implementation. Otherwise, you can simply use callbacks.

[2022-08-31 15:05] #89 closed

[2022-08-31 15:13] gsdean commented on #89
do you have an example of what you mean for using callbacks? Right now I'm using

`dependent: :destroy` on the association

and then overriding destroy

[code]

[2022-08-31 15:17] jarednorman commented on #89
Overriding ActiveRecord methods can cause a fair bit of confusion when people aren't expecting it, so I wouldn't recommend your approach. That's partly why we refuse to do it in this gem. I would use either a `before_destroy` or `after_destroy` callback to discard the referral codes associated with the record.

You can find documentation about ActiveRecord callbacks [here](https://guides.rubyonrai

[2022-08-31 17:36] jarednorman commented on #89
We're definitely not forcing anyone to override ActiveRecord methods. The thing you're missing/that I wasn't clear about is that the callback should be on the parent record. When you destroy the user, discard all the referral codes:

[code]

[2022-08-31 17:38] jarednorman commented on #89
Thanks for opening the issue and getting me to actually post the code that solves this. I'm sure it will be helpful to others.

[2022-08-31 22:39] gsdean commented on #89
Yes I understand the example you've provided. However, we're talking about different use cases. See my example above...

[2022-09-01 17:48] jarednorman commented on #89
Ah sorry, I obviously didn't read all of that message, but I'm still a little confused. Getting `user.referral_codes = []` to discard the referral codes has nothing to do with the `dependent` option. Even if we added `dependent: :discard`, that wouldn't make that happen. The `dependent` option causes associated records to be destroyed when the parent is destroyed, i.e. if you destroy the user, the

[2022-09-01 18:12] gsdean commented on #89
Agreed don't love this.

Seems like we may be misaligned on how dependent works. I realize the docs explicitly say when the owner is destroyed, but I believe it also is used when the association is removed (i.e. my examples above)...

[2022-09-01 18:24] jarednorman commented on #89
No, that happens regardless.

[2022-09-01 18:30] jarednorman commented on #89
Well, thanks for teaching me a few things about how that all works. I was unaware that `dependent:` changed how other operations on the association work. Despite my confusion about all that, I do think that my code snippet above is your best bet to get the behaviour you're looking for.

[2022-11-24 10:44] IsmailM opened #90 "Sequel Support"
Hi,

Discard looks great!

I was wondering if there were any plans to add Sequel support.

Based on a super quick look at the codebase - there does not seem to be much ActiveRecord-specific code.

[2022-11-27 19:37] jarednorman commented on #90
This project is generally considered to be feature complete. I am not interested in adding support for other database adapters, **but** if you create a gem that provides soft-deletion support in the same style as Discard, but for Sequel, I would love to link to it from the project's README. Thanks!

[2022-11-27 19:37] #90 closed